.hourly-weather .unstyled-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hourly-weather h3 {
  display: block;
  border-radius: 0;
  margin-bottom: 0;
}
.hourly-weather .unstyled-list li {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  width: 100%;
  gap: 0;
  background: linear-gradient(to left, rgb(6, 255, 184), rgb(29, 221, 202));
  border-radius: 0.125rem;
  align-items: center;
  box-shadow: 0 0 3px;
}
.hourly-weather .heading h4 {
  margin: 1rem 0;
}

.hourly-weather .unstyled-list h4,
h5 {
  margin: 0;
}
.main-hourly {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.rest-hourly {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.rest-hourly p {
  margin-top: 0;
}

@media only screen and (min-width: 45em) {
  .hourly-weather .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5rem;
    align-items: center;
  }

  .hourly-weather .unstyled-list {
    flex-wrap: nowrap;
    padding: 1rem 1rem 2rem;
    gap: 0.75rem;
  }

  .hourly-weather .unstyled-list li {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.75rem;
    gap: 0.75rem;
    font-size: 1.25rem;
    background: transparent;
    box-shadow: none;
    margin: 0;
  }

  .hourly-weather h3 {
    border-bottom-right-radius: 3rem;
    margin: 0;
  }

  .hourly-weather h5 {
    margin: 0;
    font-size: 1.5rem;
  }

  .hourly-weather .heading h4 {
    padding-right: 2rem;
    font-size: 2rem;
  }

  .hourly-weather li h4 {
    font-size: 1.5rem;
  }
  .main-hourly,
  .rest-hourly {
    flex-direction: column;
  }
  .main-hourly {
    gap: 0;
  }
  .rest-hourly {
    gap: 0.75rem;
    flex: 1;
  }
}
