form {
  padding: 1rem 1rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

form h2 {
  margin: 0;
}

form input,
form button {
  font-size: 1.5rem;
}

form input {
  padding: 0.5rem 1.5rem;
  border: black solid 0.125rem;
  border-radius: 5rem;
}
.location-icon{
  font-size: 3rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding:0.5rem;
  border-radius: 5rem;
  box-shadow: 0 0 5px black;
  background-color: black;
  color: white;
  cursor: pointer;
}
@media only screen and (min-width: 45em) {
  form {
    flex-direction: row;
    justify-content: center;
    position: relative;
  }

  form input,
  form button {
    font-size: 1.75rem;
  }

  form input {
    padding: 0.5rem 1.5rem;
    border: black solid 0.125rem;
    border-radius: 5rem;
    max-width: 15rem;
  }
  .location-icon{
    position: static;
  }
}