main {
  display: grid;
  grid-template-areas:
    "a a"
    "b b"
    "c c";
  flex-direction: column;
  /* align-items: center; */
  font-size: 1.25rem;
  gap: 2.5rem;
  padding: 1rem;
}
form {
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  /* background-color: black; */
  justify-content: flex-end;
  align-self: flex-end;
  grid-area: a;
}

form input,
form button {
  font-size: 1.75rem;
}

form input {
  padding: 0.5rem 1.5rem;
  border: black solid 0.125rem;
  border-radius: 5rem;
  width: 15rem;
}

.btn {
  padding: 0.35em 0.75em;
  border-radius: 5rem;
  box-shadow: inset 0 0 3px;
  font-weight: bold;
  background-color: rgba(1, 255, 175);
  cursor: pointer;
  border: none;
  transition: 0.25s linear;
}

.btn:hover,
.btn:focus {
  background-color: rgb(2, 218, 149);
}

.screen-reader-text {
  position: absolute;
  clip-path: polygon(0 0, 0 0.1%, 0.1% 0.1%, 0.1% 0);
}

form h2 {
  margin: 0;
}

aside {
  display: flex;
  flex-direction: row;
  grid-area: c;
  align-self: center;
  margin: 0 auto;
  align-items: center;
}
aside .unstyled-list {
  flex-direction: row;
}

aside .btn {
  padding: 1rem 3rem;
  display: flex;
  background-color: rgba(1, 255, 175);
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s linear;
  border-radius: 5rem;
}

aside h3 {
  /* border-radius: 0; */
  font-size: 1.5rem;
  align-self: center;
  margin: 0;
  color: white;
  background-color: hsla(0, 0%, 0%, 0.8);
}

main .daily-weather,
.current-weather,
.hourly-weather {
  grid-area: b;
  width: min(60rem, 100%);
  margin: 0 auto;
  /* padding-top: 1rem; */
}
