.daily-weather .heading h3 {
  display: block;
  border-radius: 0;
}

.daily-weather .heading h4 {
  margin: 1rem 0;
}

.daily-weather .unstyled-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.daily-weather .unstyled-list li {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: linear-gradient(to left, rgb(6, 255, 184), rgb(29, 221, 202));
  box-shadow: 0 0 3px;
}

.main-daily {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-evenly;
  flex-direction: row;
}
.rest-daily {
  margin: 0;
}
.rest-daily p {
  margin: 0;
}

@media only screen and (min-width: 45em) {
  .daily-weather .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5rem;
    align-items: center;
  }
  .daily-weather .unstyled-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
    padding: 1rem 1rem 2rem;
  }
  .daily-weather .heading h3 {
    margin: 0;
    border-bottom-right-radius: 3rem;
    padding: 1rem 2rem;
  }

  .daily-weather .unstyled-list li {
    padding: 1rem 0.5rem;
    font-size: 1.25rem;
    align-items: center;
    gap: 0.75rem;
    box-shadow: none;
    background: transparent;
  }

  .daily-weather .heading h4 {
    padding-right: 2rem;
    font-size: 2rem;
  }
  .daily-weather .unstyled-list h4 {
    font-size: 1.35rem;
  }
  .main-daily {
    flex-direction: column;
    gap: 0;
  }
}
