.current-weather {
  text-align: center;
  font-size: 1.35rem;
  background: linear-gradient(to left, rgb(6, 255, 184), rgb(29, 221, 202));
}
.current-weather h4 {
  margin: 0;
}
.current-weather .card-content h4 {
  font-size: 3.5rem;
  margin: 0;
}
.current-weather .card-content {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  margin: 0 auto;
  width: min(100%, 20rem);
}
.current-weather .single-file.middle {
  padding: 0 1rem;
}

.current-weather .single-file.middle,
.current-weather .card-content .single-file:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
img {
  width: 5.5rem;
  animation: scale infinite 2s;
  transform: scale(1);
}
.current-weather .card-content .single-file:nth-child(2) p {
  margin-top: 0;
}

.current-weather h3 {
  display: block;
  border-radius: 0;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (min-width: 45em) {
  .current-weather {
    font-size: 2rem;
  }
  .current-weather .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    width: auto;
    margin: 0;
    padding: 0 2rem 4rem;
  }
  .current-weather h3,
  p,
  h4 {
    margin: 0;
    border-bottom-right-radius: 3rem;
  }

  .current-weather .card-content .single-file,
  .current-weather .card-content .single-file:nth-child(2) {
    display: flex;
    gap: 4rem;
    width: 100%;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .current-weather .single-file.top {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  .current-weather .single-file.middle {
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }

  .single-file.top p {
    padding: 1rem;
    font-weight: bold;
  }
  .card-content .single-file:last-of-type {
    justify-content: center;
    margin-top: 2rem;
  }

  .current-weather .card-content h4.big-text {
    font-size: 5rem;
  }
  .current-weather .single-file.top h4 {
    padding-right: 2rem;
    font-size: 2rem;
  }
  .temp span {
    font-weight: bold;
  }

  img {
    width: 8.5rem;
  }
}
