.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 1.5rem;
  font-family: monospace;
  display: flex;
  gap: 2rem;
  font-size: 1.75rem;
  font-weight: bold;
  justify-content: center;
  background-color: rgb(17, 18, 22);
}
.nav-list a {
  text-decoration: none;
}

@media only screen and (min-width: 45em) {
  .nav-list {
    font-size: 2rem;
    gap: 2rem;
  }
  .nav-list a {
    transition: 0.25s linear;
    background-color: transparent;
    padding: 0.5em;
    position: relative;
  }
  .nav-list a::after {
    width: 100%;
    position: absolute;
    left: 0;
    content: "";
    bottom: 0;
    height: 0.35rem;
    z-index: 1;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    background-color: rgb(0, 255, 174);
    overflow: hidden;
    transform-origin: right;
  }

  .nav-list a:hover::after,
  .nav-list a:focus-visible::after {
    transform: scale(1);
    transform-origin: left;
  }
}
